<div class="container">
  <div class="cart-container">
    <div class="carts">
      <button class="btn-back" (click)="goToProtectList()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
        <span>Add Cart From product list</span>
      </button>
      <div *ngFor="let card of cards">
        <app-cart-added (cartsUpdate)="onCardsChange()" (selectionChange)="templateGetTotal(cards)" [card]="card"></app-cart-added>
      </div>
      <div class="total">
        <h3>Total</h3>
        <span class="total-span">​💰​​{{ total }}</span>
        <span class="total-nodes" *ngIf="totalNotesStatue">⚠️ You can't buy if the total equal Zero ⚠️</span>
      </div>
    </div>
    <app-cart-form></app-cart-form>
  </div>
</div>


<!-- <app-cart-added  [card]="card"></app-cart-added> -->
