<div class="container">
  <div class="protect-itemActive">
    <div class="img-handle">
      <img [src]="itemActive.url" [alt]="itemActive.name" />
    </div>
    <div>
      <h3>{{ itemActive.name }}</h3>
      <span>${{ itemActive.price }}</span>
      <form #form="ngForm" (ngSubmit)="onSubmit($event)">
        <div class="custom-select">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-down-circle arrow-select"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
            />
          </svg>

          <select name="num" id="num" [(ngModel)]="amountValue">
            <option
              value="select"
              style="color: rgb(131, 128, 128); background-color: #fbc42a"
              disabled
            >
              select
            </option>
            <option
              value="select"
              style="color: rgb(131, 128, 128); background-color: #fbc42a"
              disabled
            >
              amount
            </option>

            <option *ngFor="let num of nums" [ngValue]="num">{{ num }}</option>
          </select>
        </div>
        <p class="description">{{ itemActive.description }}</p>
        <button [disabled]="form.invalid">
          Add to Cart
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-cart-plus-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"
            />
          </svg>
          <span *ngIf="AddDoneLocale" class="add-span">✔️</span>
        </button>
      </form>
      <button class="btn-back" (click)="goToProtectList()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left-square"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
          />
        </svg>
        Back to product list
      </button>
    </div>
  </div>
</div>
