<div class="protect-box" >
  <button class="delete-btn" (click)="deleteThisCart()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-x-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
      />
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      />
    </svg>
  </button>
  <div class="protect-card">
    <div class="img-handle">
      <img [src]="card.url" [alt]="card.name" />
    </div>
    <div>
      <h3>{{ card.name }}</h3>
      <span>​💲​{{ card.price }}</span>
      <form #form="ngForm">
        <div class="custom-select">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-down-circle arrow-select"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
            />
          </svg>

          <select
            name="num"
            id="num"
            [(ngModel)]="amountValue"
            (ngModelChange)="onSelectionChange()"
          >
            <option
              value="select"
              style="color: rgb(131, 128, 128); background-color: #fbc42a"
              disabled
            >
              select
            </option>
            <option
              value="select"
              style="color: rgb(131, 128, 128); background-color: #fbc42a"
              disabled
            >
              amount
            </option>

            <option *ngFor="let num of nums" [ngValue]="num">
              {{ num }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
